// Atom — Headers
h1, h2, h3 {
	font-family: all-round-gothic, sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.04rem;
	-webkit-text-size-adjust: none;
}
h1 {
	text-align: center;
	font-size: 6rem;
	color: var(--color-text-high-contrast);
	line-height: 111%;
	text-shadow: 0 0 var(--layout-vertical-margin-L) var(--color-shadow);
	margin: 0 0 var(--layout-vertical-margin-M) 0;
	
	@media (max-width: 414px) {
		font-size: 2rem;
	}
}