// Header
@use "foundation";

header {
	position: sticky;
	z-index: 100;
	top: 0;
	padding: var(--layout-gutter);
	box-sizing: border-box;
	background-color: var(--color-accent-1);
	@supports (backdrop-filter: blur(10px)) or
			  (-webkit-backdrop-filter: blur(10px)) {
		-webkit-backdrop-filter: blur(10px); //Safari still uses the prefix
		backdrop-filter: blur(10px);
		background-color: transparent;
	}
	
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	line-height: var(--line-height-M);
	
	nav {
		&.flex-grow {
			flex-grow: 1;
		}
		text-align: right;
		&.left {
			text-align: left;
		}
		height: var(--line-height-M);
		
		ul, li {
			list-style: none;
			margin: 0;
			padding: 0;
			vertical-align: top;
			font-size: 0;
		}
		li {
			display: inline-block;
			font-size: 1rem;
			
			&.optional-1, & .optional-1 {
				@media (max-width: #{foundation.$layout-breakpoint-nav-1}){
					display: none;
				}
			}
			&.optional-2, & .optional-2 {
				@media (max-width: #{foundation.$layout-breakpoint-nav-2}){
					display: none;
				}
			}
			
			a#logo {
				height: var(--line-height-M);
				
				span {
					display: inline-block;
					vertical-align: top;
					//transform: translateX(calc(var(--line-height-M) * 1.29 * .7));
					//opacity: 0;
					//transition-property: opacity transform;
					//transition-duration: 180ms;
					//transition-timing-function: ease-out;
					//padding: 0 0.5rem;
					//border-radius: var(--border-radius-M);
				}
				/*
				&:hover span {
					transform: translateX(calc(var(--line-height-M) * 1.29)); //1.29 = aspect ratio of logo
					opacity: 1;
					background-color: var(--color-element-background);
				}
				*/
				svg {
					height: var(--line-height-M);
					aspect-ratio: 1;
					display: inline-block;
					//fill: var(--color-text);
					fill: url(#ukraineFlag);
					margin-right: .75rem;
					
					transition-property: transform;
					transition-duration: 250ms;
					transition-timing-function: ease-out;
				}
				&:hover, &:focus {
					svg {
						transform: scale(.75);
						transition-duration: 250ms;
						transition-timing-function: cubic-bezier(.5,2.5,.75,.5);
					}
				}
			}
			a {
				display: inline-block;
				padding: 0 0.75rem;
				background-color: transparent;
				border-radius: var(--border-radius-M);
				transition-property: background-color;
				transition-duration: 250ms;
				transition-timing-function: ease-out;
				&:hover, &:focus {
					background-color: rgba(255,255,255,0.16);
					transition-duration: 110ms;
				}
			}
			//Pull first and last item "out" towards the edge by the same amount as they have internal padding.
			&:first-child a {
				margin-left: -.75rem;
			}
			&:last-child a {
				margin-right: -.75rem;
			}
		}
	}
	a, a:link, a:active, a:visited {
		color: var(--color-text-high-contrast);
	}
	a:hover, a:focus {
		text-decoration: none;
		color: var(--color-text-high-contrast);
	}
}