// Organism — Homepage Splash
@use "foundation";

#home-splash {
	padding-bottom: var(--layout-vertical-margin-L);
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	
	h1 {
		max-width: calc(var(--layout-column)*9 + var(--layout-gutter)*8);
		@media (max-width: #{foundation.$layout-breakpoint-S}) {
			max-width: calc(var(--layout-column)*3 + var(--layout-gutter)*2);
		}
		margin-left: auto;
		margin-right: auto;
	}
	
	p.teaser {
		margin: 0 auto;
		max-width: calc(var(--layout-column)*3 + var(--layout-gutter)*2);
		@media (min-width: #{foundation.$layout-breakpoint-M}) and
			   (max-width: #{foundation.$layout-breakpoint-L}) {
			max-width: calc(var(--layout-column)*5 + var(--layout-gutter)*4);
		}
	}
}