// Organism — Homepage Splash
#home-splash {
	padding-bottom: var(--layout-vertical-margin-L);
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	
	h1 {
		max-width: calc(var(--layout-column)*9 + var(--layout-gutter)*8);
		margin-left: auto;
		margin-right: auto;
	}
	
	p.teaser {
		margin: 0 auto;
		max-width: calc(var(--layout-column)*3 + var(--layout-gutter)*2);
	}
}