:root {
  --color-accent-1: RGB(112, 174, 61);
  --color-accent-1-transparent: rgba(112, 174, 61, 0.8);
  --color-accent-1-hover: RGB(138, 197, 89);
  --color-accent-1-hover-fill: RGB(119, 183, 67);
  --color-accent-1-darkened-fill: RGB(104, 162, 57);
  --color-accent-2: RGB(253, 186, 26);
  --color-background: #31302e;
  --color-background-transparent: rgba(49, 48, 46, 0.6);
  --color-element-background: rgb(58, 57, 54);
  --color-element-background-hover: rgb(71, 70, 66);
  --color-text: #cdc6c6;
  --color-text-high-contrast: white;
  --color-text-low-contrast: RGB(155, 140, 140);
  --color-text-inverted: var(--color-background);
  --color-text-selection: var(--color-accent-1);
  --color-shadow: rgba(0,0,0,0.06);
  --color-shadow-strong: rgba(0,0,0,0.27);
  --color-glow: rgba(255,255,255,0.06);
  --color-ukraineFlag-top: #005abb;
  --color-ukraineFlag-bottom: #fdd400;
  --transition-duration-in: 110ms;
  --transition-duration-out: 250ms;
  --transition-timing-function: ease-out;
  --line-height-M: 2rem;
  --line-height-S: 1.3rem;
  --border-radius-S: 2px;
  --border-radius-M: 0.5rem;
  --border-radius-L: 1000px;
  --layout-gutter: 2rem;
  --layout-column: calc((100vw - (12*var(--layout-gutter)))/11);
  --layout-vertical-margin-XXS: 0.3333rem;
  --layout-vertical-margin-XS: calc(var(--layout-vertical-margin-XXS)*2);
  --layout-vertical-margin-S: 1rem;
  --layout-vertical-margin-M: calc(var(--layout-vertical-margin-S)*2);
  --layout-vertical-margin-L: calc(var(--layout-vertical-margin-M)*2);
  --layout-vertical-margin-XL: calc(var(--layout-vertical-margin-L)*2);
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-accent-1: color(display-p3 0.4392 0.6823 0.2392);
    --color-accent-1-transparent: color(display-p3 0.4392 0.6823 0.2392 / 0.8);
    --color-accent-1-hover: color(display-p3 0.5411 0.7725 0.349);
    --color-accent-1-hover-fill: color(display-p3 0.476 0.735 0.265);
    --color-accent-1-darkened-fill: color(display-p3 0.409 0.636 0.224);
    --color-accent-2: color(display-p3 0.9922 0.7294 0.1019);
  }
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-background: color(display-p3 0.1921 0.1882 0.1804);
    --color-background-transparent: color( display-p3 0.1922 0.1882 0.1804 / 0.6);
    --color-element-background: color(display-p3 0.2275 0.2235 0.2118);
    --color-element-background-hover: color(display-p3 0.2784 0.2745 0.2588);
  }
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-text: color(display-p3 0.8039 0.7764 0.7764);
    --color-text-high-contrast: color(display-p3 1 1 1);
    --color-text-low-contrast: color(display-p3 0.6078 0.549 0.549);
  }
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-glow: color(display-p3 1 1 1 / 0.06);
  }
}
@media (max-width: 1400px) {
  :root {
    --layout-column: calc((100vw - (10*var(--layout-gutter)))/9);
  }
}
@media (max-width: 600px) {
  :root {
    --layout-column: calc((100vw - (4*var(--layout-gutter)))/3);
  }
}
@media (max-width: 480px) {
  :root {
    --layout-gutter: 1rem;
    --layout-column: calc((100vw - (4*var(--layout-gutter)))/3);
  }
}

::selection {
  background-color: var(--color-text-selection);
  color: var(--color-text-high-contrast);
}

html {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625em;
  margin: 0;
  padding: 0;
  line-height: var(--line-height-S);
  accent-color: var(--color-accent-1);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

header, main, footer {
  width: 100%;
  margin: 0 auto;
}

main .splash {
  margin-top: calc(var(--layout-gutter) * -2 - var(--line-height-M));
  padding-top: calc(var(--layout-gutter) * 2 + var(--line-height-M));
  position: relative;
  z-index: 101;
}

.inline-icon {
  height: var(--line-height-M);
}
.inline-icon._12-36 {
  aspect-ratio: 12/36;
}

#layout-viz {
  display: none;
}
#layout-viz .column {
  display: none;
}

#layout-viz:target {
  position: absolute;
  z-index: 1000;
  display: block;
}
#layout-viz:target .column {
  display: block;
  background-color: rgba(255, 0, 0, 0.1);
  outline: solid rgba(200, 0, 0, 0.2) 1px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--layout-column);
  pointer-events: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
#layout-viz:target #c1 {
  left: var(--layout-gutter);
}
#layout-viz:target #c2 {
  left: calc(var(--layout-gutter) * 2 + var(--layout-column));
}
#layout-viz:target #c3 {
  left: calc(var(--layout-gutter) * 3 + var(--layout-column) * 2);
}
#layout-viz:target #c4 {
  left: calc(var(--layout-gutter) * 4 + var(--layout-column) * 3);
}
#layout-viz:target #c5 {
  left: calc(var(--layout-gutter) * 5 + var(--layout-column) * 4);
}
#layout-viz:target #c6 {
  left: calc(var(--layout-gutter) * 6 + var(--layout-column) * 5);
}
#layout-viz:target #c7 {
  left: calc(var(--layout-gutter) * 7 + var(--layout-column) * 6);
}
#layout-viz:target #c8 {
  left: calc(var(--layout-gutter) * 8 + var(--layout-column) * 7);
}
#layout-viz:target #c9 {
  left: calc(var(--layout-gutter) * 9 + var(--layout-column) * 8);
}
#layout-viz:target #c10 {
  left: calc(var(--layout-gutter) * 10 + var(--layout-column) * 9);
}
@media (max-width: 1400px) {
  #layout-viz:target #c10 {
    display: none;
  }
}
#layout-viz:target #c11 {
  left: calc(var(--layout-gutter) * 11 + var(--layout-column) * 10);
}
@media (max-width: 1400px) {
  #layout-viz:target #c11 {
    display: none;
  }
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: var(--color-accent-1);
}

a:hover, a:focus {
  text-decoration: underline;
  color: var(--color-accent-1-hover);
}

.floater {
  position: relative;
}
.floater.center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%, 0);
}
.floater.center-Y {
  top: 50%;
  transform: translateY(-50%);
}

h1, h2, h3 {
  font-family: all-round-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.04rem;
  -webkit-text-size-adjust: none;
  margin: 0;
}

h1, h2 {
  font-size: 6rem;
  /*	@media (max-width: 600px) {
  		font-size: 3rem;
  	}

  	@media (max-width: 480px) {
  		font-size: 2rem;
  	} */
  color: var(--color-text-high-contrast);
  line-height: 111%;
  margin: 0 0 var(--layout-vertical-margin-M) 0;
}
@media (max-width: 1400px) {
  h1, h2 {
    font-size: 5rem;
  }
}
@media (max-width: 744px) {
  h1, h2 {
    font-size: 10.6vw;
  }
}

h1 {
  text-align: center;
  text-shadow: 0 0 var(--layout-vertical-margin-L) var(--color-shadow);
}

h2 {
  position: relative;
  z-index: 2;
  margin-top: 0;
  margin-bottom: var(--layout-vertical-margin-L);
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--layout-column) * 9 + var(--layout-gutter) * 8);
  max-width: calc(100% - var(--layout-gutter) * 2);
  overflow: hidden;
  transition-property: padding background-color box-shadow;
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration-out);
  text-shadow: 0 0 var(--layout-vertical-margin-XS) var(--color-shadow-strong);
  text-transform: uppercase;
}
@media (max-width: 600px) {
  h2 {
    width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  }
}
h2:hover {
  transition-duration: var(--transition-duration-in);
  background-color: var(--color-element-background);
  padding: 0 1rem;
  box-shadow: 0 0 var(--layout-vertical-margin-XS) var(--color-shadow-strong);
}

h3 {
  font-size: 4rem;
  line-height: 1.3em;
}
h3.S {
  font-size: 2rem;
}
@media (max-width: 1920px) {
  h3 {
    font-size: 3rem;
  }
  h3.S {
    font-size: 1rem;
  }
}
@media (max-width: 1400px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  color: var(--color-text);
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.02em;
  line-height: var(--line-height-M);
  margin: var(--layout-vertical-margin-S) 0;
}
h1 + p.teaser {
  font-size: 1.33rem;
  color: var(--color-text-high-contrast);
  margin: var(--layout-vertical-margin-M) var(--layout-gutter);
}

.pubdate {
  display: block;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--layout-column) * 9 + var(--layout-gutter) * 8);
  position: relative;
  z-index: 1;
}
@media (max-width: 600px) {
  .pubdate {
    width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  }
}

time[pubdate=pubdate] {
  display: inline-block;
  line-height: var(--line-height-M);
  /*
   padding: 0 var(--layout-vertical-margin-XS);
  background-color: var(--color-element-background);
   box-shadow: 0 0 var(--layout-vertical-margin-XS) var(--color-shadow-strong);
   */
}

nav.breadcrumb {
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--layout-column) * 9 + var(--layout-gutter) * 8);
}
h2 + nav.breadcrumb {
  margin-top: calc(var(--layout-vertical-margin-L) * -1 + var(--layout-vertical-margin-XS));
  margin-bottom: var(--layout-vertical-margin-L);
}
@media (max-width: 600px) {
  nav.breadcrumb {
    width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  }
}
nav.breadcrumb ul, nav.breadcrumb ol, nav.breadcrumb li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-size: 0;
}
nav.breadcrumb li {
  display: inline-block;
  font-size: 1rem;
}
nav.breadcrumb li a {
  display: inline-block;
  padding: 0 var(--layout-vertical-margin-XXS);
  line-height: var(--line-height-M);
  vertical-align: top;
  color: var(--color-text);
  text-decoration: underline;
}
nav.breadcrumb li a:link, nav.breadcrumb li a:active, nav.breadcrumb li a:visited {
  color: var(--color-text-high-contrast);
  text-decoration: none;
}
nav.breadcrumb li a:hover, nav.breadcrumb li a:focus {
  text-decoration: underline;
}

button, input[type=button], input[type=submit], a.button {
  font-weight: 500;
  font-size: 1rem;
  padding: 0 var(--layout-vertical-margin-XS);
  line-height: var(--line-height-M);
  color: var(--color-text-high-contrast);
  background-color: var(--color-accent-1);
  border-radius: var(--border-radius-S);
  border: none;
  outline: none;
  transition-property: background-color;
  transition-duration: var(--transition-duration-out);
  transition-timing-function: var(--transition-timing-function);
}
button:hover, button:focus, button:active, input[type=button]:hover, input[type=button]:focus, input[type=button]:active, input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active, a.button:hover, a.button:focus, a.button:active {
  color: var(--color-text-high-contrast);
  background-color: var(--color-accent-1-hover-fill);
  text-decoration: none;
  transition-duration: var(--transition-duration-in);
}
button.error, .error button, input[type=button].error, .error input[type=button], input[type=submit].error, .error input[type=submit], a.button.error, .error a.button {
  color: var(--color-text-inverted);
  background-color: var(--color-accent-2);
}
button.error:hover, button.error:focus, button.error:active, .error button:hover, .error button:focus, .error button:active, input[type=button].error:hover, input[type=button].error:focus, input[type=button].error:active, .error input[type=button]:hover, .error input[type=button]:focus, .error input[type=button]:active, input[type=submit].error:hover, input[type=submit].error:focus, input[type=submit].error:active, .error input[type=submit]:hover, .error input[type=submit]:focus, .error input[type=submit]:active, a.button.error:hover, a.button.error:focus, a.button.error:active, .error a.button:hover, .error a.button:focus, .error a.button:active {
  color: var(--color-text-inverted);
  background-color: var(--color-accent-2);
}
button[disabled], input[type=button][disabled], input[type=submit][disabled], a.button[disabled] {
  color: var(--color-text);
  background-color: var(--color-element-background);
}
button[disabled]:hover, button[disabled]:focus, button[disabled]:active, input[type=button][disabled]:hover, input[type=button][disabled]:focus, input[type=button][disabled]:active, input[type=submit][disabled]:hover, input[type=submit][disabled]:focus, input[type=submit][disabled]:active, a.button[disabled]:hover, a.button[disabled]:focus, a.button[disabled]:active {
  color: var(--color-text);
  background-color: var(--color-element-background);
}

ul.m-tag-list {
  margin: 0 calc(var(--layout-vertical-margin-XS) * -1);
  padding: 0;
  list-style: none;
  font-size: 1rem;
  letter-spacing: var(--layout-vertical-margin-XS);
}
ul.m-tag-list li {
  display: inline;
  letter-spacing: 0;
}
ul.m-tag-list li a {
  font-size: 1rem;
  display: inline-block;
  line-height: var(--line-height-M);
  padding: 0 var(--layout-vertical-margin-XS);
  margin: var(--layout-vertical-margin-XXS) 0;
  border-radius: var(--border-radius-L);
  background-color: var(--color-element-background);
  transition-property: background-color;
  transition-duration: var(--transition-duration-out);
  transition-timing-function: var(--transition-timing-function);
}
ul.m-tag-list li a, ul.m-tag-list li a:link, ul.m-tag-list li a:hover, ul.m-tag-list li a:focus, ul.m-tag-list li a:active {
  color: var(--color-text);
  text-decoration: none;
}
ul.m-tag-list li a:before, ul.m-tag-list li a:link:before, ul.m-tag-list li a:hover:before, ul.m-tag-list li a:focus:before, ul.m-tag-list li a:active:before {
  display: inline-block;
  color: var(--color-text-low-contrast);
  content: "#";
}
ul.m-tag-list li a:hover, ul.m-tag-list li a:focus, ul.m-tag-list li a:active {
  background-color: var(--color-element-background-hover);
  transition-duration: var(--transition-duration-in);
}
ul.m-tag-list li a:hover .tag, ul.m-tag-list li a:focus .tag, ul.m-tag-list li a:active .tag {
  text-decoration: underline;
}

.o-h2 {
  margin: var(--layout-vertical-margin-XL) auto var(--layout-vertical-margin-L) auto;
}
.o-h2:has(.pubdate) {
  margin-top: calc(var(--layout-vertical-margin-XL) - var(--line-height-M));
}

#home-splash {
  --color-text-selection: black;
  padding-bottom: var(--layout-vertical-margin-L);
  min-height: calc(90vh - var(--layout-gutter) * 2 - var(--line-height-M));
  transition-property: min-height;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}
.scrolled #home-splash {
  min-height: 0;
}
#home-splash h1 {
  max-width: calc(var(--layout-column) * 9 + var(--layout-gutter) * 8);
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 600px) {
  #home-splash h1 {
    max-width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  }
}
#home-splash p.teaser {
  margin: 0 auto;
  max-width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
}
@media (min-width: 600px) and (max-width: 744px) {
  #home-splash p.teaser {
    max-width: calc(var(--layout-column) * 5 + var(--layout-gutter) * 4);
  }
}
#home-splash a.button {
  display: block;
  width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  line-height: 3em;
  margin: 0 auto;
  margin-top: var(--layout-vertical-margin-S);
  border: none;
  outline: none;
  background: transparent;
  background-color: transparent;
  transition-property: background-color box-shadow transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  font-family: futura-pt, sans-serif;
  font-size: 1.33rem;
  color: var(--color-text-high-contrast);
  text-align: center;
  background-color: var(--color-accent-1-darkened-fill);
  border-radius: var(--border-radius-S);
  box-shadow: 0 0 var(--layout-vertical-margin-L) var(--color-accent-1-hover-fill);
  cursor: url("../img/cursor-heart.png"), auto;
  cursor: -webkit-image-set(url("../img/cursor-heart.png") 1x, url("../img/cursor-heart@2x.png") 2x, url("../img/cursor-heart@3x.png") 3x), auto;
}
@media (min-width: 600px) and (max-width: 744px) {
  #home-splash a.button {
    width: calc(var(--layout-column) * 5 + var(--layout-gutter) * 4);
  }
}
#home-splash a.button:hover, #home-splash a.button:focus {
  transform: scale(1.02);
  background-color: var(--color-accent-1-hover-fill);
  transition-duration: 110ms;
  text-decoration: none;
  transition-timing-function: ease-in;
  box-shadow: 0 0 var(--layout-vertical-margin-L) var(--color-accent-1-darkened-fill);
}

header {
  padding: var(--layout-gutter);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: var(--line-height-M);
}
header.accent {
  background-color: var(--color-accent-1);
}
header.sticky {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--color-background);
}
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  header.sticky {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--color-background-transparent);
  }
}
header nav {
  text-align: right;
  height: var(--line-height-M);
}
header nav.flex-grow {
  flex-grow: 1;
}
header nav ul, header nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-size: 0;
}
header nav li {
  display: inline-block;
  font-size: 1rem;
}
@media (max-width: 540px) {
  header nav li.optional-1, header nav li .optional-1 {
    display: none;
  }
}
@media (max-width: 413px) {
  header nav li.optional-2, header nav li .optional-2 {
    display: none;
  }
}
header nav li a#logo {
  height: var(--line-height-M);
  /*
  &:hover span {
  	transform: translateX(calc(var(--line-height-M) * 1.29)); //1.29 = aspect ratio of logo
  	opacity: 1;
  	background-color: var(--color-element-background);
  }
  */
}
header nav li a#logo span {
  display: inline-block;
  vertical-align: top;
}
header nav li a#logo svg {
  height: var(--line-height-M);
  aspect-ratio: 1;
  display: inline-block;
  fill: url(#ukraineFlag);
  margin-right: 0.75rem;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
header nav li a#logo:hover svg, header nav li a#logo:focus svg {
  transform: scale(0.75);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.5, 2.5, 0.75, 0.5);
}
header nav li a {
  display: inline-block;
  padding: 0 0.75rem;
  background-color: transparent;
  border-radius: var(--border-radius-M);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
header nav li a:hover, header nav li a:focus {
  background-color: rgba(255, 255, 255, 0.16);
  transition-duration: 110ms;
}
header nav li:first-child a {
  margin-left: -0.75rem;
}
header nav li:last-child a {
  margin-right: -0.75rem;
}
header a, header a:link, header a:active, header a:visited {
  color: var(--color-text-high-contrast);
}
header a:hover, header a:focus {
  text-decoration: none;
  color: var(--color-text-high-contrast);
}

article.teaser {
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--layout-column) * 9 + var(--layout-gutter) * 8);
  display: flex;
  overflow: visible;
  width: calc(var(--layout-column) * 9 + var(--layout-gutter) * 8);
}
@media (max-width: 600px) {
  article.teaser {
    width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  }
}
@media (max-width: 600px) {
  article.teaser {
    display: block;
  }
}
@media (max-width: 600px) {
  article.teaser {
    width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  }
}
article.teaser img {
  order: 2;
  width: calc(var(--layout-column) * 6 + var(--layout-gutter) * 5);
  height: auto;
  align-self: start;
  border-radius: var(--border-radius-S);
}
@media (max-width: 600px) {
  article.teaser img {
    order: 1;
    width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);
  }
}
article.teaser .column {
  order: 1;
  margin-right: var(--layout-gutter);
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  article.teaser .column {
    order: 2;
    margin-top: var(--layout-vertical-margin-M);
  }
}
article.teaser .column a.button {
  align-self: flex-start;
  margin-top: auto;
}

main {
  height: 200vh;
}
main section.splash#home-splash {
  background-color: var(--color-accent-1);
  color: var(--color-text-high-contrast);
}

/*# sourceMappingURL=styles.css.map */
