:root {
  --line-height-M: 2rem;
  --line-height-S: 1.3rem;
  --color-accent-1: RGB(112, 174, 61);
  --color-accent-1-hover: RGB(138, 197, 89);
  --color-background: #31302e;
  --color-background-high-opacity: rgba(49,48,46,0.8);
  --color-element-background: rgba(255,255,255,0.09);
  --color-text: #cdc6c6;
  --color-text-high-contrast: white;
  --color-ukraineFlag-top: #005abb;
  --color-ukraineFlag-bottom: #fdd400;
  --border-radius-M: 0.5rem;
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-accent-1: color(display-p3 0.4392 0.6823 0.2392);
    --color-accent-1-hover: color(display-p3 0.5411 0.7725 0.349);
  }
}

html {
  font-family: skolar-sans-latin, "Skolar Sans Latin", sans-serif;
  font-size: 1.0625em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: var(--line-height-S);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

header, main, footer {
  width: 100%;
  margin: 0 auto;
}

main {
  margin-top: calc(-2.25rem - var(--line-height-M));
  padding-top: calc(-2.25rem - var(--line-height-M));
}
main .splash {
  margin-top: calc(-2.25rem - var(--line-height-M));
}

h1, h2, h3 {
  font-family: ff-kava-web-pro;
  letter-spacing: 1px;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: var(--color-accent-1);
  color: var(--color-accent-1);
}

a:hover, a:focus {
  text-decoration: underline;
  color: var(--color-accent-1-hover);
  color: var(--color-accent-1-hover);
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 1rem 1.225rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: var(--line-height-M);
}
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
header a#logo {
  position: relative;
}
header a#logo span {
  display: inline-block;
  vertical-align: top;
  transform: translateX(calc(var(--line-height-M) * 1.29 * 0.7));
  opacity: 0;
  transition-property: opacity transform;
  transition-duration: 180ms;
  transition-timing-function: ease-out;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-M);
}
header a#logo:hover span {
  transform: translateX(calc(var(--line-height-M) * 1.29));
  opacity: 1;
  background-color: var(--color-element-background);
}
header a#logo svg {
  position: absolute;
  z-index: 1000;
  height: var(--line-height-M);
  aspect-ratio: 1;
  display: inline-block;
  fill: url(#ukraineFlag);
  margin-right: 0.5rem;
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
header nav {
  flex: 1;
  text-align: right;
}
header nav.left {
  text-align: left;
}
header nav ul, header nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav li {
  display: inline-block;
}
header nav li a {
  display: inline-block;
  padding: 0 0.75rem;
  background-color: transparent;
  border-radius: var(--border-radius-M);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
header nav li a:hover, header nav li a:focus {
  background-color: var(--color-element-background);
  transition-duration: 110ms;
}
header a, header a:link, header a:active, header a:visited {
  color: var(--color-text-high-contrast);
}
header a:hover, header a:focus {
  text-decoration: none;
  color: var(--color-text-high-contrast);
}

main {
  height: 200vh;
}
main section.splash {
  height: 80vh;
}
main section.splash#home-splash {
  background-color: var(--color-accent-1);
  color: var(--color-text-high-contrast);
}

/*# sourceMappingURL=styles.css.map */
