// Atom — Breadcrumb
@use "foundation";

nav.breadcrumb {
	h2 + & {
		margin-top: calc((var(--layout-vertical-margin-L) *(-1)) + var(--layout-vertical-margin-XS));
		margin-bottom: var(--layout-vertical-margin-L);
	}

	@include foundation.layout-full-width;

	ul, ol, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		font-size: 0;
	}
	li {
		display: inline-block;
		font-size: 1rem;

		a {
			display: inline-block;
			padding: 0 var(--layout-vertical-margin-XXS);
			line-height: var(--line-height);
			vertical-align: top;

			color: var(--color-text);
			text-decoration: underline;

			&:link, &:active, &:visited {
				color: var(--color-text-high-contrast);
				text-decoration: none;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}
