// Atom - button

// Buttons
button, input[type=button], input[type=submit], a.button {
  display: inline-block;

  font-family: futura-pt,sans-serif;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;

	padding: 0 var(--layout-vertical-margin-XS);
  box-sizing: border-box;
	line-height: var(--line-height-M);

	color: var(--color-text-high-contrast);
	background-color: var(--color-accent-1);
  box-shadow: 0 0 0 transparent;

	border-radius: var(--border-radius-M);
	border: none;
	outline: none;

	transition-property: background-color box-shadow;
	transition-duration: var(--transition-duration-out);
	transition-timing-function: var(--transition-timing-function);

	&:hover, &:focus, &:active {
		color: var(--color-text-high-contrast);
		background-color: var(--color-accent-1-hover-fill);
    box-shadow: var(--layout-vertical-margin-XXS) var(--layout-vertical-margin-XXS) 0 var(--color-shadow-strong);
		text-decoration: none;
		transition-duration: var(--transition-duration-in);
	}

	&.error, .error & {
		color: var(--color-text-inverted);
		background-color: var(--color-accent-2);
		&:hover, &:focus, &:active {
			color: var(--color-text-inverted);
			background-color: var(--color-accent-2);
		}
	}

	&[disabled] {
		color: var(--color-text);
		background-color: var(--color-element-background);
		&:hover, &:focus, &:active {
			color: var(--color-text);
			background-color: var(--color-element-background);
		}
	}
}
