// Atom — Headers
@use "foundation";

h1, h2, h3 {
	font-family: all-round-gothic, sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.04rem;
	-webkit-text-size-adjust: none;
}
h1, h2 {
	font-size: 6rem;
	@media (max-width: #{foundation.$layout-breakpoint-L}) {
		font-size: 5rem;
	}
	@media (max-width: 744px) {
		font-size: 10.6vw;
	}
	
/*	@media (max-width: #{foundation.$layout-breakpoint-M}) {
		font-size: 3rem;
	}
	
	@media (max-width: #{foundation.$layout-breakpoint-S}) {
		font-size: 2rem;
	} */
	
	color: var(--color-text-high-contrast);
	line-height: 111%;
	margin: 0 0 var(--layout-vertical-margin-M) 0;
}
h1 {
	text-align: center;
	text-shadow: 0 0 var(--layout-vertical-margin-L) var(--color-shadow);
}
h2 {
	position: relative;
	z-index: 2;
	margin-top: 0;
	margin-bottom: var(--layout-vertical-margin-L);
	@include foundation.layout-full-width;
	background-color: var(--color-element-background);
	box-sizing: border-box;
	padding: 0 1rem;
	box-shadow: 0 0 var(--layout-vertical-margin-XS) var(--color-shadow-strong);
	
	text-transform: uppercase;
}