// Atom — Headers
@use "foundation";

h1, h2, h3 {
	font-family: all-round-gothic, sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.04rem;
	-webkit-text-size-adjust: none;
  margin: 0;
}
h1, h2 {
	font-size: 6rem;
	@media (max-width: #{foundation.$layout-breakpoint-L}) {
		font-size: 5rem;
	}
	@media (max-width: 744px) {
		font-size: 10.6vw;
	}

/*	@media (max-width: #{foundation.$layout-breakpoint-M}) {
		font-size: 3rem;
	}

	@media (max-width: #{foundation.$layout-breakpoint-S}) {
		font-size: 2rem;
	} */

	color: var(--color-text-high-contrast);
	line-height: 111%;
	margin: 0 0 var(--layout-vertical-margin-M) 0;
}
h1 {
	text-align: center;
	text-shadow: 0 0 var(--layout-vertical-margin-L) var(--color-shadow);
}
h2 {
	position: relative;
	z-index: 2;
	margin-top: 0;
	margin-bottom: var(--layout-vertical-margin-L);
	@include foundation.layout-full-width;

  //Safari will otherwise scale the whole viewport down to fit the headline
  max-width: calc(100% - var(--layout-gutter)*2);
  overflow: hidden;

  transition-property: padding background-color box-shadow;
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration-out);

  text-shadow: 0 0 var(--layout-vertical-margin-XS) var(--color-shadow-strong);
	text-transform: uppercase;
}
h3 {
  font-size: 4rem;
  line-height: 1.3em;
  &.S {
    font-size: 2rem;
  }
  @media (max-width: #{foundation.$layout-breakpoint-XL}) {
    font-size: 3rem;
    &.L {
     font-size: 4rem;
    }
    &.S {
      font-size: 1rem;
    }
  }
  @media (max-width: #{foundation.$layout-breakpoint-L}) {
    &.L {
      font-size: 3rem;
    }
    font-size: 2rem;
  }

  margin-bottom: var(--layout-vertical-margin-M);
}
