// Atom — Publication Date TIME element
@use "foundation";

.pubdate {
	display: block;
	text-align: right;
  @include foundation.layout-full-width;

	position: relative;
	z-index: 1;
}
time[pubdate=pubdate] {
	display: inline-block;
	line-height: var(--line-height-M);
  /*
  padding: 0 var(--layout-vertical-margin-XS);
	background-color: var(--color-element-background);
  box-shadow: 0 0 var(--layout-vertical-margin-XS) var(--color-shadow-strong);
  */
}
