//Foundation
$layout-breakpoint-XL: 1920px;
$layout-breakpoint-L: 1400px;
$layout-breakpoint-M: 1024px;
$layout-breakpoint-S: 480px;

$layout-breakpoint-nav-1: 540px;
$layout-breakpoint-M: 600px;
$layout-breakpoint-nav-2: 413px;

:root {
	//sRGB color variables
	--color-accent-1: RGB(112, 174, 61);
	--color-accent-1-transparent: rgba(112, 174, 61, 0.8);

	--color-accent-1-hover: RGB(138, 197, 89);
	--color-accent-1-hover-fill: RGB(119, 183, 67);
	--color-accent-1-darkened-fill: RGB(104, 162, 57);

  --color-accent-2: RGB(253, 186, 26);

	@supports (color: color(display-p3 1 1 1)) {
    //Color variables expanded to use P3 gamut

		--color-accent-1: color(display-p3 0.4392 0.6823 0.2392);
		--color-accent-1-transparent: color(display-p3 0.4392 0.6823 0.2392 / 0.8);

		--color-accent-1-hover: color(display-p3 0.5411 0.7725 0.349);
		--color-accent-1-hover-fill: color(display-p3 0.476 0.735 0.265);
		--color-accent-1-darkened-fill: color(display-p3 0.409 0.636 0.224);

    --color-accent-2: color(display-p3 0.9922 0.7294 0.1019);
	}

  //sRGB color variables
	--color-background: #31302e;
  --color-background-transparent: rgba(49, 48, 46, 0.6);
	--color-element-background: rgb(58, 57, 54);
  --color-element-background-hover: rgb(71, 70, 66);

  @supports (color: color(display-p3 1 1 1)) {
  //Color variables expanded to use P3 gamut
    --color-background: color(display-p3 0.1921 0.1882 0.1804);
    --color-background-transparent: color( display-p3 0.1922 0.1882 0.1804 / 0.6);
    --color-element-background: color(display-p3 0.2275 0.2235 0.2118);
    --color-element-background-hover: color(display-p3 0.2784 0.2745 0.2588);
  }

	--color-text: #cdc6c6;
	--color-text-high-contrast: white;
  --color-text-low-contrast: RGB(155, 140, 140);
  --color-text-inverted: var(--color-background);
  --color-text-selection: var(--color-accent-1);

  @supports (color: color(display-p3 1 1 1)) {
    //Color variables expanded to use P3 gamut
    --color-text: color(display-p3 0.8039 0.7764 0.7764);
    --color-text-high-contrast: color(display-p3 1 1 1);
    --color-text-low-contrast: color(display-p3 0.6078 0.549 0.549);
  }

//sRGB color variables
	--color-shadow: rgba(0,0,0,0.06);
	--color-shadow-strong: rgba(0,0,0,0.27);
	--color-glow: rgba(255,255,255,0.06);
  --color-glow-strong: rgba(255,255,255,0.27);

  @supports (color: color(display-p3 1 1 1)) {
    //Color variables expanded to use P3 gamut
    --color-glow: color(display-p3 1 1 1 / 0.06);
    --color-glow-strong: color(display-p3 1 1 1 / 0.27);
  }

	--color-ukraineFlag-top: #005abb;
	--color-ukraineFlag-bottom: #fdd400;

  //Transition Variables
  --transition-duration-in: 110ms;
  --transition-duration-out: 250ms;
  --transition-timing-function: ease-out;

  //Spacing & Sizing Variables
  --line-height-M: 2rem;
  --line-height-S: 1.3rem;

  --border-radius-S: 2px;
	--border-radius-M: 0.5rem;
  --border-radius-L: 1000px;

	//Default: 11 columns
	--layout-gutter: 2rem;
	--layout-column: calc((100vw - (12*var(--layout-gutter)))/11);

	//Large: 9 columns
	@media (max-width: #{$layout-breakpoint-L}) {
		--layout-column: calc((100vw - (10*var(--layout-gutter)))/9);
	}

	//Medium: 3 columns
	@media (max-width: #{$layout-breakpoint-M}) {
		--layout-column: calc((100vw - (4*var(--layout-gutter)))/3);
	}

	//Small: 3 columns, reduced gutter
	@media (max-width: #{$layout-breakpoint-S}) {
		--layout-gutter: 1rem;
		--layout-column: calc((100vw - (4*var(--layout-gutter)))/3);
	}

	--layout-vertical-margin-XXS: 0.3333rem;
	--layout-vertical-margin-XS: calc(var(--layout-vertical-margin-XXS)*2);
	--layout-vertical-margin-S: 1rem;
	--layout-vertical-margin-M: calc(var(--layout-vertical-margin-S)*2);
	--layout-vertical-margin-L: calc(var(--layout-vertical-margin-M)*2);
	--layout-vertical-margin-XL: calc(var(--layout-vertical-margin-L)*2);
}
@mixin layout-full-width() {
	margin-left: auto;
	margin-right: auto;
	width: calc(var(--layout-column)*9 + var(--layout-gutter)*8);
	@media (max-width: #{$layout-breakpoint-M}) {
		width: calc(var(--layout-column)*3 + var(--layout-gutter)*2);
	}
}

::selection {
	background-color: var(--color-text-selection);
	color: var(--color-text-high-contrast)
}

html {
	font-family: futura-pt,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.0625em; //assuming 16px default, this is 17px
	margin: 0;
	padding: 0;
	line-height: var(--line-height-S);
	accent-color: var(--color-accent-1);
}
body {
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
	padding: 0;
}
header, main, footer {
	width: 100%;
	margin: 0 auto;
}
main {
	.splash {
    //Pull on top of sticky navigation
		margin-top: calc(var(--layout-gutter)*-2 - var(--line-height-M));
		padding-top: calc(var(--layout-gutter)*2 + var(--line-height-M));

    //Place above sticky header navigation
    position: relative;
    z-index: 101;
	}
  #home-splash {
    background-color: var(--color-accent-1);
    color: var(--color-text-high-contrast);
  }
}

.inline-icon {
	height: var(--line-height-M);

  &._1
  {
    aspect-ratio: 1;
  }
	&._12-36 {
		aspect-ratio: 12 / 36;
	}
}

//---

#layout-viz {
	display: none;
	.column {
		display: none;
	}
}
#layout-viz:target {
	position: absolute;
	z-index: 1000;
	display: block;

	.column {
		display: block;
		background-color: rgba(255,0,0,0.05);
		outline: solid rgba(255,0,0,0.5) 1px;
		position: fixed;
		top: 0;
		bottom: 0;
		width: calc(var(--layout-column) - 2px);
		pointer-events: none;
		text-align: center;
		color: rgba(255,255,255,.5);
	}
	#c1 {
		left: calc(var(--layout-gutter) + 1px);
	}
	#c2 {
		left: calc(var(--layout-gutter)*2 + var(--layout-column) + 1px);
	}
	#c3 {
		left: calc(var(--layout-gutter)*3 + var(--layout-column)*2 + 1px);
	}
	#c4 {
		left: calc(var(--layout-gutter)*4 + var(--layout-column)*3 + 1px);
	}
	#c5 {
		left: calc(var(--layout-gutter)*5 + var(--layout-column)*4 + 1px);
	}
	#c6 {
		left: calc(var(--layout-gutter)*6 + var(--layout-column)*5 + 1px);
	}
	#c7 {
		left: calc(var(--layout-gutter)*7 + var(--layout-column)*6 + 1px);
	}
	#c8 {
		left: calc(var(--layout-gutter)*8 + var(--layout-column)*7 + 1px);
	}
	#c9 {
		left: calc(var(--layout-gutter)*9 + var(--layout-column)*8 + 1px);
	}
	#c10 {
		left: calc(var(--layout-gutter)*10 + var(--layout-column)*9 + 1px);
		@media (max-width: #{$layout-breakpoint-L}) {
			display: none;
		}
	}
	#c11 {
		left: calc(var(--layout-gutter)*11 + var(--layout-column)*10 + 1px);
		@media (max-width: #{$layout-breakpoint-L}) {
			display: none;
		}
	}
}
