// Organism - Article Teaser
@use "foundation";

article {
	@include foundation.layout-full-width;

  .block {
    display: flex;
    @media (max-width: #{foundation.$layout-breakpoint-M}) {
      display: block;
    }
    width: calc(var(--layout-column)*9 + var(--layout-gutter)*8);
    @media (max-width: #{foundation.$layout-breakpoint-M}) {
      width: calc(var(--layout-column)*3 + var(--layout-gutter)*2);
    }
    // Ensure things like cags can align based on text. not on bounds:
    overflow: visible;

    margin-bottom: var(--layout-vertical-margin-XL);

    .graphic-column {

      order: 2;
      flex: 2;

      width: calc(var(--layout-column)*6 + var(--layout-gutter)*5);
      @media (max-width: #{foundation.$layout-breakpoint-M}) {
        order: 1;
        width: calc(var(--layout-column)*3 + var(--layout-gutter)*2);
      }
      // Add breakpoint to reduce image size on medium small screens!

      align-self: start;

      img {
        border-radius: var(--border-radius-S);
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .text-column {
      order: 1;
      flex: 1;
      min-width: 26ch;

      @media (max-width: #{foundation.$layout-breakpoint-M}) {
        order: 2;
        margin-top: var(--layout-vertical-margin-M);
      }
      margin-right: var(--layout-gutter);
      align-self: stretch;

      a.button {
        margin-top: var(--layout-vertical-margin-S);
      }
    }
  }

  &.teaser {
    .text-column {
      padding-bottom: var(--layout-vertical-margin-M);
      border-bottom: solid 2px var(--color-element-background);
    }
  }
}
