// Organism — Footer
@use "foundation";

footer {
  .columns {
    display: flex;
    gap: var(--layout-gutter);
    flex-wrap: wrap;
    @include foundation.layout-full-width;

    @media (max-width: #{foundation.$layout-breakpoint-M}) {
      display: block;
    }

   .column {
     flex: 1;
     max-width: calc(var(--layout-column) * 3 + var(--layout-gutter) * 2);

     .griddy {

     }
   }
  }
  .legal {
    @include foundation.layout-full-width;
  }
}
