// Header
@use "foundation";
header {
  position: sticky;
  z-index: 1000; //nav is always on top
  top: 0;

	padding: var(--layout-gutter);
	box-sizing: border-box;
  //The height of the header is 2x[--layout-gutter]+[--line-height-M]
  //The header will not take up any vertical space:
  margin-bottom: calc(-2 * var(--layout-gutter) - var(--line-height-M));

  background-color: var(--color-background);
  box-shadow: 0 0 var(--layout-vertical-margin-S) var(--color-shadow);

  transition-property: box-shadow background-color border;
  @include foundation.transition-properties-default;

  &.transparent {
    background-color: transparent;
    box-shadow: none;
  }
  @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px); //Safari still uses the prefix
    backdrop-filter: blur(10px);
    background-color: var(--color-background-transparent);
    &.transparent {
      background-color: transparent;
    }
  }

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	line-height: var(--line-height-M);

	nav {
		&.flex-grow {
			flex-grow: 1;
		}
		text-align: right;

		height: var(--line-height-M);

		ul, li {
			list-style: none;
			margin: 0;
			padding: 0;
			vertical-align: top;
			font-size: 0;
		}
		li {
			display: inline-block;
			font-size: 1rem;
      margin: 0 var(--layout-vertical-margin-XXS) 0 0;
      &:last-child {
        margin: 0;
      }

			&.optional-1, & .optional-1 {
				@media (max-width: #{foundation.$layout-breakpoint-nav-1}){
					display: none;
				}
			}
			&.optional-2, & .optional-2 {
				@media (max-width: #{foundation.$layout-breakpoint-nav-2}){
					display: none;
				}
			}

			a#logo {
				height: var(--line-height-M);

				span {
					display: inline-block;
					vertical-align: top;
				}
				svg {
					height: var(--line-height-M);
					aspect-ratio: 1;
					display: inline-block;
					//fill: var(--color-text);
					fill: url(#ukraineFlag);
					margin-right: .75rem;

					transition-property: transform;
					transition-duration: var(--transition-duration-in);
					transition-timing-function: var(--transition-timing-function);
				}
				&:hover, &:focus {
					svg {
						transform: scale(.75);
						transition-duration: var(--transition-duration-out);
						transition-timing-function: cubic-bezier(.5,2.5,.75,.5);
					}
				}
			}
			a {
				display: inline-block;
				padding: 0 0.75rem;
				background-color: transparent;
        box-shadow: 0 0 var(--layout-vertical-margin-S) transparent;
				border-radius: var(--border-radius-M);
        box-shadow: 0 0 0 var(--color-shadow);
        border: 1px solid transparent;

        @include foundation.transition-properties-default;
        transition-property: background-color box-shadow;
				&:hover, &:focus {
					background-color: rgba(255, 255, 255, 0.06);
          backdrop-filter: blur(calc(var(--line-height-M)/2));
          -webkit-backdrop-filter: blur(calc(var(--line-height-M)/2));
          box-shadow: var(--layout-vertical-margin-XXS) var(--layout-vertical-margin-XXS) 0 var(--color-shadow);
          border-top: 1px solid var(--color-glow);
          border-left: 1px solid var(--color-glow);
				}
			}
			//Pull first and last item "out" towards the edge by the same amount as they have internal padding.
			&:first-child a {
				margin-left: -.75rem;
			}
			&:last-child a {
				margin-right: -.75rem;
			}
		}
	}
	a, a:link, a:active, a:visited {
		color: var(--color-text-high-contrast);
	}
	a:hover, a:focus {
		text-decoration: none;
		color: var(--color-text-high-contrast);
	}
}
