// Styles 
@use "components/_foundation";
@use "components/_A-link";
@use "components/_A-floaters";
@use "components/_A-headers";
@use "components/_A-text-blocks";
@use "components/_A-pubdate.scss";

@use "components/_O-home-splash.scss";
@use "components/_O-header.scss";

// Header switch to fixed instead o fsticky, add JS for isScrolled to show header?

main {
	height: 200vh;
	
	section.splash {
		&#home-splash {
			background-color: var(--color-accent-1);
			color: var(--color-text-high-contrast);
		}
	}
}