// Styles 
@use "components/_foundation.scss";
@use "components/_A-link.scss";
@use "components/_A-floaters.scss";
@use "components/_A-headers.scss";
@use "components/_A-text-blocks.scss";

@use "components/_O-home-splash.scss";

@use "components/_header.scss";

// Header switch to fixed instead o fsticky, add JS for isScrolled to show header?

main {
	height: 200vh;
	
	section.splash {
		&#home-splash {
			background-color: var(--color-accent-1);
			color: var(--color-text-high-contrast);
		}
	}
}