// Colors
:root {
	--palette-0:     #000;
	--palette-0-5:   #191815;
	--palette-0-10:  #322f2a;
	--palette-0-20:  #635f54;
	--palette-0-30:  #797467;
	--palette-0-50:  #9b8c8c;
	--palette-0-80:  #cdc6c6;
	--palette-0-90:  #f8f7f7;
	--palette-0-100: #fff;
	--palette-1-30:  #5c8d34;
	--palette-1-40:  #64983a;
	--palette-1-50:  #70ae3d;
	--palette-2-30:  #d49602;
	--palette-2-40:  #fdba1a;
	--palette-2-60:  #fad06b;
	--palette-3-30:  #206d97;
	--palette-3-50:  #3189b9;

	--color-error:   #FC562C;
	--color-glow:    rgba(255, 255, 255, 0.27);
	--color-shadow:  rgba(0, 0, 0, 0.27);
}

//@media (prefers-color-scheme: light){}
//@media (prefers-color-scheme: dark){
	:root {
		// color[, category, rank, state], purpose[, variation]
		
		--color-page-background: var(--palette-0-5);
		--color-element-background: var(--palette-0-10);
		
		--color-CTA-primary-blur-background: var(--palette-1-40);
		--color-CTA-primary-focus-background: var(--palette-1-50);
		--color-CTA-primary-blur-text: var(--palette-0-100);
		--color-CTA-primary-focus-text: var(--palette-0-100);
		
		--color-CTA-error-blur-background: var(--palette-2-40);
		--color-CTA-error-focus-background: var(--color-error);
		--color-CTA-error-blur-text: var(--palette-0-5);
		--color-CTA-error-focus-text: var(--palette-0-100);
		
		--color-CTA-disabled-blur-background: var(--palette-0-20);
		--color-CTA-disabled-focus-background: var(--palette-0-20);
		--color-CTA-disabled-blur-text: var(--palette-0-100);
		--color-CTA-disabled-focus-text: var(--palette-0-100);
		
		--color-CTA-inline-fill: var(--palette-0-80);
		
		--color-input-default-empty-blur-background: var(--palette-0-5);
		--color-input-default-empty-blur-placeholder: var(--palette-0-30);
		--color-input-default-empty-blur-border: transparent;
		
		--color-input-default-filled-blur-background: var(--palette-0-5);
		--color-input-default-filled-blur-text: var(--palette-0-80);
		--color-input-default-filled-blur-border: var(--palette-1-30);
		
		--color-input-default-filled-focus-background: var(--palette-0-5);
		--color-input-default-filled-focus-text: var(--palette-0-80);
		--color-input-default-filled-focus-border: var(--palette-3-30);
		
		--color-text: var(--palette-0-80);
		--color-text-medium-contrast: var(--palette-0-50);
		--color-text-high-contrast: var(--palette-0-100);
		--color-text-emphasis: var(--palette-1-40);
		--color-text-low-contrast: var(--palette-0-30);
		--color-text-medium-contrast: var(--palette-0-50);
		
		--color-brand-fill: var(--palette-1-30);
		--color-brand-contrast-fill: var(--palette-0-100);
	}	
//}