// Typography
body {
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: var(--color-text);
}

p {
	color: var(--color-text);
	letter-spacing: 0.21176em;
	line-height: 2em;
	margin-bottom: 2em;
}
